@font-face {
  font-family: "Simplex UCCA";
  src: url('fonts/SimplexUCCA.otf');
  src: url('fonts/SimplexUCCA.otf') format('embedded-opentype'),
    url('fonts/SimplexUCCA.woff2') format('woff2'),
    url('fonts/SimplexUCCA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SimplexUCCA";
  src: url('fonts/SimplexUCCA-Bold.otf');
  src: url('fonts/SimplexUCCA-Bold.otf') format('embedded-opentype'),
    url('fonts/SimplexUCCA-Bold.woff2') format('woff2'),
    url('fonts/SimplexUCCA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/******************************************* Section Structure */
body {
  margin: 0;
}

#custom-sections {
  background: rgb(168, 168, 168);
  background: linear-gradient(90deg, rgba(215, 193, 3, 1) 0%, rgba(239, 128, 148, 1) 24%, rgba(105, 143, 232, 1) 50%, rgba(104, 198, 102, 1) 78%, rgba(215, 193, 3, 1) 100%);
}

.ucc-section {
  display: grid;
  grid-template-columns: 500px auto 165px;
  min-height: 150px;
  /* border: 1px solid turquoise;   */
  /* padding: 5px; */
  transition: 500ms;
}

.ucc-left-col, .ucc-center-col, .ucc-right-col {
  /* border: 1px solid coral; */
  transition: 500ms;
}

#ucc-spacer {
  min-height: 50px;
}

/******************************************* IPAD SECTION BREAKS */
@media only screen and (max-width: 920px) {
  #ucc-header-section {
    /* grid-template-columns: auto 290px; */
    grid-template-columns: auto 55%;
  }

  #ucc-subhead-section {
    grid-template-columns: 500px auto;
  }

  .ucc-left-col.ucc-empty-col {
    padding: 20px 50px 0px 50px !important;
  }

  #fluid-color, #precision-time {
    font-size: 38px;
  }

  /* .ucc-empty-col {
    display: none;
  }

  .mobile-hidden.ucc-left-col.ucc-empty-col {
    display: none;
  } */

  #ucc-timestamp-container {
    display: none;
  }
  
}

/* IPHONE SECTION BREAKS */
@media only screen and (max-width: 750px) {
  #ucc-header-section {
      grid-template-columns: 1fr;
    }
  
  #ucc-subhead-section {
    grid-template-columns: 1fr;
  }

  .ucc-empty-col {
    display: none;
  }

  .left-col-text {
    max-width: 400px;
  }

  .mobile-hidden.ucc-left-col.ucc-empty-col {
    display: none;
  }

  #ucc-spacer {
    display: none;
  }

  #io-background-img {
    background-position: left top;
    min-height: 100%;
    width: auto;
  }

  #left-ucc-gradient {
    font-size: 35px;
  }
}


@media only screen and (max-width: 450px) {
  .left-col-text {
    padding: 40px 50px 50px 50px !important;
  }

  #io-background-img {
    background-position: left top;
    width: 450px;
  }

  #ucc-buttons-container {
    margin-bottom: 25px !important;
  }
}


/******************************************* TOP - ucc-header-section */

.ucc-center-col {
  padding: 45px 20px 20px 35px;
  font-family: "Simplex UCCA";
  font-weight: bold;
}

#ricci-albenda-title {
  font-size: 19px;
  margin-bottom: 10px;
}

#ucc-title {
  font-size: 36px;
  color: white;
}

#fluid-color, #precision-time {
  font-family: "Seravek", Sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 300;
  mix-blend-mode: overlay;
  width: 100%;
}

.ucc-left-col.ucc-empty-col {
  padding: 20px 110px 0px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#precision-time {
  text-align: right;
}

#color-chip-text-box {
  font-family: "Simplex UCCA";
  font-size: 16px;
  line-height: 1.5em;
  padding: 45px 10px 10px 10px;
}

#color-chip-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}



/******************************************* BOTTOM - ucc-section */

#ucc-rapid-color-change {
  background-color: white;

}

#io-background-img {
  height: 485px;
  background-image: url("images/infinite_objects_background_500.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.left-col-text {
  font-family: "Seravek", Sans-serif;
  font-weight: 300;
  height: 250px;
  padding: 40px 90px 50px 65px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.ucc-header-text {
  margin-bottom: 95px;
}

#left-ucc-gradient {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  background-size: 180%;
  background-repeat: repeat;
  background-color: rgb(215, 193, 3);
  background-image: linear-gradient(90deg, rgba(215, 193, 3, 1) 0%, rgba(239, 128, 148, 1) 24%, rgba(105, 143, 232, 1) 50%, rgba(104, 198, 102, 1) 78%, rgba(215, 193, 3, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#rapid-time-change {
  margin-top: 5px;
  font-size: 20px;
}

#hr-box {
  min-width: 37px;
}

#min-box {
  min-width: 35px;
  text-align: left;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}

#left-ucc-description {
  font-size: 22px;
}

#ucc-color-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 35px;
}

#current-time {
  font-size: 26px;
  letter-spacing: 1px;
  color: white;
}

#universal-color-code {
  font-size: 14px;
}
#ucc-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.ucc-button-link {
  background-color: black;
  color: white;
  font-family: "seravek-web", Sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  border: 2px black solid;
  border-radius: 25px;
  padding: 12px 33px 14px 33px;
  margin: 10px 15px 10px 0px;
  transition: 500ms;
}

.ucc-button-link:hover {
  background-color: white;
  color: black;
}


/** */

#ucc-timestamp-container {
  text-align: justify;
  padding-top: 17px;
}

#ucc-timestamp-row {
  color: rgba(0, 0, 0, 0.55);
  mix-blend-mode: overlay;
  line-height: 0.7em;
  font-family: "Helvetica", Sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#ucc-timestamp-row:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#ucc-timestamp-row:before {
  content: "";
  display: inline-block;
  width: 100%;
}


/******************************************* COUNTDOWN TIMER */

#countdown-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 30px;
  /* remove below before adding to site */
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

#countdown-box {
  text-align: center;
}

.countdown-headers {
  font-family: "Simplex UCCA", Sans-Serif;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  height: 18px;
}

/* .countdown-headers::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.countdown-headers::before {
  content: "";
  display: inline-block;
  width: 100%;
} */

#countdown-title {
  height: auto;
  font-size: 17px;
  /* margin-bottom: -5px; */
}

#timer,
#timer2 {
  font-family: "Simplex UCCA", Sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

#timer>div,
#timer>span {
  font-family: "Simplex UCCA", Sans-Serif;
}

#timer {
  justify-content: center;
}

#timer>span {
  min-width: 15px;
  text-align: center;
}

#timer>div span,
#timer2>div span {
  display: inline-block;
  text-align: center;
}

#timer>div,
#timer2>div {
  justify-content: center;
}

#timer-min #timer-hour {
  min-width: 50px;
  text-align: right;
}

#timer-day {
  text-align: left;
  min-width: 50px;
}

#timer-sec {
  min-width: 50px;
  text-align: right;
}