@font-face {
  font-family: "Simplex UCCA";
  src: url('fonts/SimplexUCCA.otf');
  src: url('fonts/SimplexUCCA.otf') format('embedded-opentype'),
    url('fonts/SimplexUCCA.woff2') format('woff2'),
    url('fonts/SimplexUCCA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SimplexUCCA";
  src: url('fonts/SimplexUCCA-Bold.otf');
  src: url('fonts/SimplexUCCA-Bold.otf') format('embedded-opentype'),
    url('fonts/SimplexUCCA-Bold.woff2') format('woff2'),
    url('fonts/SimplexUCCA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/******************************************* Section Structure */
body {
  margin: 0;
}

#custom-sections {
  background: rgb(168, 168, 168);
  background: linear-gradient(90deg, rgba(215, 193, 3, 1) 0%, rgba(239, 128, 148, 1) 24%, rgba(105, 143, 232, 1) 50%, rgba(104, 198, 102, 1) 78%, rgba(215, 193, 3, 1) 100%);
}

.ucc-section {
  display: grid;
  grid-template-columns: 500px auto 175px;
  /* height: 155px; */
  /* border: 1px solid turquoise;   */
  /* padding: 5px; */
  transition: 500ms;
}

.ucc-left-col, .ucc-center-col, .ucc-right-col {
  /* border: 1px solid coral; */
  transition: 500ms;
}

#ucc-spacer {
  min-height: 50px;
}

/******************************************* RESPONSIVE SECTION BREAK */
@media only screen and (max-width: 1000px) {
  #ucc-header-section {
    grid-template-columns: auto 175px;
  }

  #ucc-subhead-section {
    grid-template-columns: 1fr;
  }

  .ucc-left-col.ucc-empty-col {
    display: none !important;
  }

  #ucc-rapid-color-change {
    max-width: 500px;
    width: auto;
    height: fit-content;
  }

  #io-background-img {
    background-position: center top !important;
  }

  .ucc-header-text {
    margin-bottom: 40px !important;
    padding-top: 20px;
  }

  #ucc-timestamp-container {
    display: none;
  }

  #timer-day {
    min-width: 90px !important;
  }

  #timer-hour {
    min-width: 105px !important;
  }

  #timer-min {
    min-width: 125px !important;
  }

  #timer-sec {
    min-width: 135px !important;
  }

  #timer {
    font-size: 20px !important;
  }

  #ucc-color-change {
    height: 472px !important;
  }

  #countdown-container {
    max-width: 100vw !important;
  }
}

/******************************************* RESPONSIVE SECTION BREAK - small */

@media only screen and (max-width: 600px) {
  #countdown-container {
      display: none;
    }
}

@media only screen and (max-width: 435px) {
  .ucc-header-text {
    max-width: 60%;
  }

  #ucc-title {
    /* transition: 500ms; */
    font-size: 28px !important;
  }
}

/******************************************* TOP - ucc-header-section */

.ucc-center-col {
  padding: 55px 20px 5px 55px;
  font-family: "Simplex UCCA";
  font-weight: bold;
}

#ricci-albenda-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
}

#ucc-title {
  font-size: 34px;
  line-height: 1em;
  color: white;
  transition: 500ms;
}

#fluid-color, #precision-time {
  font-family: "Seravek", Sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 300;
  mix-blend-mode: overlay;
  width: 100%;
}

.ucc-left-col.ucc-empty-col {
  padding: 20px 110px 0px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#precision-time {
  text-align: right;
}

#color-chip-text-box {
  font-family: "Simplex UCCA";
  font-size: 16px;
  line-height: 24px;
  padding: 55px 10px 5px 10px;
}


/******************************************* BOTTOM - ucc-section */

#ucc-rapid-color-change {
  background-color: white;
}

#io-background-img {
  height: 100%;
  background-image: url("images/infinite_objects_background_500.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-col-text {
  font-family: "Seravek", Sans-serif;
  font-weight: 300;
  /* height: 250px; */
  padding: 40px 55px 50px 55px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.ucc-header-text {
  margin-bottom: 70px;
  margin-top: 50px;
}

#left-ucc-gradient {
  font-size: 30px;
  font-weight: 400;
  /* letter-spacing: 1px; */
  background-size: 180%;
  background-repeat: repeat;
  background-color: rgb(215, 193, 3);
  background-image: linear-gradient(90deg, rgba(215, 193, 3, 1) 0%, rgba(239, 128, 148, 1) 24%, rgba(105, 143, 232, 1) 50%, rgba(104, 198, 102, 1) 78%, rgba(215, 193, 3, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#rapid-time-change {
  font-family: "Simplex UCCA";
  font-weight: bold;
  margin-top: 8px;
  font-size: 19px;
  display: flex;
  align-items: start;
  justify-content: start;
}

#hr-box {
  min-width: 20px;
  margin-left: 3px;
  text-align: right;
  letter-spacing: 1.2px;
}

#min-box {
  min-width: 30px;
  text-align: left;
  margin-left: 3px;
  letter-spacing: 1.5px;

}

#left-ucc-description {
  font-size: 21px;
}

#ucc-color-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}

#current-time {
  font-size: 26px;
  letter-spacing: 1px;
  color: white;
}

#universal-color-code {
  font-size: 14px;
}
#ucc-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 30px;
}
.ucc-button-link {
  background-color: black;
  color: white;
  font-family: "seravek-web", Sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  border: 2px black solid;
  border-radius: 25px;
  padding: 12px 33px 14px 33px;
  margin: 10px 15px 10px 0px;
  transition: 500ms;
}

.ucc-button-link:hover {
  background-color: white;
  color: black;
}


/** */

#ucc-timestamp-container {
  text-align: justify;
  padding-top: 17px;
}

#ucc-timestamp-row {
  color: rgba(0, 0, 0, 0.55);
  mix-blend-mode: overlay;
  line-height: 0.7em;
  font-family: "Helvetica", Sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#ucc-timestamp-row:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#ucc-timestamp-row:before {
  content: "";
  display: inline-block;
  width: 100%;
}


/******************************************* COUNTDOWN TIMER */

#countdown-container {
  background-color: white;
  padding-bottom: 26px;
  padding-top: 30px;
  /* remove below before adding to site */
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

#countdown-box {
  text-align: center;
}

.countdown-headers {
  font-family: "Simplex UCCA", Sans-Serif;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  height: 18px;
}

/* .countdown-headers::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.countdown-headers::before {
  content: "";
  display: inline-block;
  width: 100%;
} */

#countdown-title {
  height: auto;
  font-size: 17px;
  /* margin-bottom: -5px; */
}

#timer,
#timer2 {
  font-family: "Simplex UCCA", Sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

#timer>div,
#timer>span {
  font-family: "Simplex UCCA", Sans-Serif;
}

#timer {
  justify-content: center;
}

#timer>span {
  min-width: 10px;
  text-align: center;
}

#timer>div span,
#timer2>div span {
  display: inline-block;
  text-align: center;
}

#timer>div,
#timer2>div {
  justify-content: center;
}

#timer-hour {
  min-width: 118px;
  text-align: right;
}

#timer-min {
  min-width: 135px;
  text-align: right;
}

#timer-day {
  text-align: left;
  min-width: 95px;
}

#timer-sec {
  min-width: 145px;
  text-align: right;
}